# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IntelliJ config
.idea/
*.iml

#Don't commit certificates
*.jks
*.pfx
*.pem

#Don't commit passwords
keystore-password.txt

# Ignore all files in host_volumes or config_files by default
/host_volumes/**
/config_files/**
# Exclude subdirectories (while still including files)
!/host_volumes/**/
!/config_files/**/
# Exclude .gitkeep files to preserve subdirectories
!.gitkeep
# Exclude .example files to provide templates for config files
!*.example
!*.*.example

